/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}
h2 {
	text-align: center;
	font-size: 40px;
}

button {
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: bold;
	width: 200px;
	margin-bottom: 5px;
	border-radius: 5px;
}

#increment-btn {
	background-color: darkred;
}

#save-btn {
	background-color: greenyellow;
}

p {
	font-size: 24px;
}
